
  
  .App-adheader {
    background-color: #F7A8B4; 
    width:100%; 
    height:2%; 
    box-shadow: 0 3px 3px rgba(57, 63, 72, 0.3);
    position:fixed;
    text-align: center;
    top:0;
    z-index:99; 
  }
  
  .buttonhaban {
    background-color: #76DEBA; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2% 3%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgba(57, 63, 72, 0.3);
    padding: 6% 15%;
   
  }
  .adbutton1{
    color: white;
    text-decoration: none;
    padding: 0.5% 0%;
    float:left;
    font-size: 20px;
    margin: 1% -2%;
    text-align: center;
    font-weight:bold;
      
  }

  .user_icon{ 
    color: white;
    padding: 0.5% 1%;
    margin: 1.2% 1%;
    font-size: 22px;
    text-shadow: 1px 1px 1px #000;     
    }

  .bell_icon{ 
      color: white;
      padding: 0.5% 1%;
      float:right;
      margin: 1.2% -2%;
      font-size: 22px;
      text-shadow: 1px 1px 1px #000;
      }
  
  
  input[type=textad] {
    width: 65%;
    float:right;
    padding: 0.65% 1%;
    margin: 1.5% 15%;
    box-sizing: border-box;
    border: none;
    background-color: #FCE5E8;
    border-radius: 80px;
    box-shadow: 2px 2px 2px rgba(57, 63, 72, 0.3);
  }
  
  .adbuttonSearch{
    float:right;
    position: fixed;
  }
  .adsearch_icon{
    background-color: #76DEBA; 
    border: none;
    color: white;
    padding: 0.05% 1%;
    margin: 0.8% 43%;
    font-size: 50%;
    border-radius: 80px;
    position: fixed;
    box-shadow: 2px 3px 3px rgba(57, 63, 72, 0.3);
    }
  .adSearchBox-icon{
    padding: 7% 1%;
  
  }
  
  
  .adbody{
  padding:0px;
  margin:0px;
  height:100%;
  position: fixed;
  }
  
  .adLogo{
    background-image: url(./logoSE.jpg);
  }
  .adApp-logo{
    position: fixed;
    margin: -1.5% 7%;
    padding:0px;
    float: left;
    height: 15%;
  }

  .dropbtn {
    background-color: #F7A8B4; 
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color:#EBD5D8;
    border-radius: 25px;
    min-width: 170px;
    z-index: 1;
    font-size: 16px;
    margin: 3px 15px;
    padding: 25px 5px;
  }

  .divider {
    border: 0.2px solid rgb(187, 173, 173);
  }

  .adimg-circle{ 
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  }
  
  .userB1{
    background-image: url(./userB1.png);
  }

  .userB2{
    background-image: url(./userB2.png);
  }

  .userB3{
    background-image: url(./userB3.png);
  }

  .userB4{
    background-image: url(./userB4.png);
  }

  .lass {
    float: center;
    margin: 1px 22px;
    font-size: 14px;
  }
