.App-footer {
    background-color: #e3cdd1;
    position: relative;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    box-shadow: 0 3px 3px rgba(57, 63, 72, 0.3);
    bottom:0;
    z-index:99;
   }
   
.button-footer{
    color: black;
    text-decoration: none;
    padding: 1% 39%;
    
    
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    font-family: Superspace;
    
  }
  
  th, td {
    padding: 10px;
    text-align: justify;
  }