
    .App-header {
    background-color: #F7A8B4; 
    width:100%; 
    height:2%; 
    box-shadow: 0 3px 3px rgba(57, 63, 72, 0.3);
    position:fixed;
    text-align: center;
    top:0;
    z-index:99;
    
  }
  
  .button {
    background-color: #76DEBA; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 2px 3px 3px rgba(57, 63, 72, 0.3);
  }
  .button2{
    padding: 0.5% 1%;
    margin: 1% -3%;
    float:right;
  }
  .button1{
    padding: 0.5% 1%;
    margin: 1% 4%;
    float:right;
  }
  
  input[type=text] {
    width: 40%;
    float:right;
    padding: 0.46% 1%;
    margin: 1.5% 12%;
    box-sizing: border-box;
    border: none;
    background-color: #FCE5E8;
    border-radius: 80px;
    box-shadow: 2px 2px 2px rgba(57, 63, 72, 0.3);
  }
  
  .buttonSearch{
    float:right;
    position: fixed;
  }
  .search_icon{
    background-color: #76DEBA; 
    border: none;
    color: white;
    padding: 0.16% 1%;
    margin: 1.4% 59%;
    font-size: 50%;
    border-radius: 80px;
    position: fixed;
    box-shadow: 2px 3px 3px rgba(57, 63, 72, 0.3);
    }
  .SearchBox-icon{
    padding: 7% 1%;
  
  }
  
  
  .body{
  padding:0px;
  margin:0px;
  height:100%;
  position: fixed;
  }
  
  .Logo{
    background-image: url(./logoSE.jpg);
  }
  .App-logo{
    position: fixed;
    margin: -6% -6%;
    float: left;
    height: 45%;
    /*top:0px; left:100px;*/
    /*border: 1px solid red;*/
  
  }
